<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="home.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Home</div>
        </a>
    </li>

    <!-- Access Control -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Access Control</span></li>
    <!-- Tables -->
    <li class="menu-item active">
        <a href="security-group.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Security Group</div>
        </a>
    </li>            
</ul>